<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CampusConnect">

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".role.RoleSelectionActivity" />
        <activity android:name=".auth.login.LoginActivity" />
        <activity android:name=".auth.register.RegisterActivity" />
        <activity android:name=".faculty.auth.FacultyRegisterActivity" />
        <activity android:name=".faculty.FacultyHomeActivity" />
        <activity android:name=".faculty.edit.FacultyEditIdentityActivity" />
        <activity android:name=".faculty.edit.FacultyAddLinkActivity" />
        <activity android:name=".classroom.AddSubjectActivity" />
        <activity android:name=".classroom.SubjectDetailActivity" />
        <activity android:name=".classroom.AddResourceActivity" />
        <activity android:name=".classroom.AddNoticeActivity" />
        <activity android:name=".classroom.SubjectSettingsActivity" />
        <activity android:name=".classroom.ClassroomActivity" />
        <activity android:name=".classroom.CreateClassActivity" />
        <activity android:name=".classroom.FeedActivity" />
        <activity android:name=".classroom.AddFeedPostActivity" />
        <activity android:name=".classroom.FeedPostDetailActivity" />
        <activity android:name=".faculty.FacultyPublicProfileActivity" />
        <activity android:name=".classroom.ClassSettingsActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".profile.PublicProfileActivity"/>
        <activity android:name=".profile.edit.EditBasicInfoActivity"/>
        <activity android:name=".profile.edit.AddProjectActivity"/>
        <activity android:name=".profile.edit.AddEducationActivity"/>
        <activity android:name=".profile.edit.AddExperienceActivity"/>
        <activity android:name=".profile.edit.AddSkillActivity"/>
        <activity android:name=".profile.edit.AddLinkActivity"/>
        <activity android:name=".core.ui.ComingSoonActivity"/>

    </application>

</manifest>